<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boot.wx.persistence.QuestionMapper">
    <select id="findQuestionByType" parameterType="String" resultType="boot.wx.entity.QuestionEntity">
        select t1.id, t2.name questionType, t1.question_content questionContent, t1.selects,
        t1.select_type selectType, t1.sorted, t1.create_time createTime, t1.question_comment questionComment,
        case count(t3.id) when 0 then 0 else 1 end collectStatus
        from question_info t1
        left join question_type t2 on t1.question_type = t2.id
        left join question_collected t3 on t1.id = t3.question_id and t3.user_id = #{userId}
        where t1.deleted = 0 and t2.name = #{questionType}
    </select>

    <select id="findByTypeAndCollect" resultType="QuestionEntity">
        select t2.id, #{questionType} questionType, t2.question_content questionContent, t2.selects,
        t2.select_type selectType, t2.sorted, t2.create_time createTime, t2.question_comment questionComment,
        1 collectStatus
        from question_collected t1
        left join question_info t2 on t1.question_id = t2.id
        where t1.user_id = #{userId}
    </select>

    <!-- 收藏 或 取消收藏 -->
    <select id="collect">
        <if test="option == 'delete'">
            delete from question_collected where user_id = #{userId} and question_id = #{questionId}
        </if>
        <if test="option == 'collect'">
            insert into question_collected (user_id, question_id) values (#{userId}, #{questionId})
        </if>
    </select>
    <!-- 查询收藏状态 -->
    <select id="findCollectStatus" resultType="Integer">
        select count(id) from question_collected where user_id = #{userId} and question_id = #{questionId}
    </select>
</mapper>