<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boot.wx.persistence.QuestionMapper">
    <!-- 获取某个课程下所有的题目 -->
    <select id="findQuestionByType" parameterType="String" resultType="QuestionEntity">
        select t1.id, t2.name questionType, t1.question_content questionContent, t1.selects,
        case t1.select_type when 0 then '单项选择题' when 1 then '多项选择题' when 2 then '简答题' end selectType,
        t1.sorted, t1.create_time createTime, t1.question_comment questionComment,
        case count(t3.id) when 0 then 0 else 1 end collectStatus
        from question_info t1
        left join question_type t2 on t1.question_type = t2.id
        left join question_collected t3 on t1.id = t3.question_id and t3.user_id = #{userId}
        where t1.deleted = 0 and t2.name = #{questionType}
    </select>

    <!-- 获取某个课程下所有已经收藏的题目 -->
    <select id="findByTypeAndCollect" resultType="QuestionEntity">
        select t2.id, t3.name questionType, t2.question_content questionContent, t2.selects,
        case t2.select_type when 0 then '单项选择题' when 1 then '多项选择题' when 2 then '简答题' end selectType,
        t2.sorted, t2.create_time createTime, t2.question_comment questionComment,
        1 collectStatus
        from question_collected t1
        left join question_info t2 on t1.question_id = t2.id
        left join question_type t3 on t2.question_type = t3.id
        where t1.user_id = #{userId}
    </select>

    <select id="findAnswerById" resultType="QuestionEntity">
        select question_resolve questionResolve, correct_select correctSelect
        from question_info t1
        where t1.id = #{questionId}
    </select>

    <!-- 收藏 或 取消收藏 -->
    <select id="collect">
        <if test="option == 'delete'">
            delete from question_collected where user_id = #{userId} and question_id = #{questionId}
        </if>
        <if test="option == 'collect'">
            insert into question_collected (user_id, question_id) values (#{userId}, #{questionId})
        </if>
    </select>
    <!-- 查询收藏状态 -->
    <select id="findCollectStatus" resultType="Integer">
        select count(id) from question_collected where user_id = #{userId} and question_id = #{questionId}
    </select>

    <insert id="add" parameterType="QuestionEntity">
        insert into
         question_info
         (question_type, question_content, selects, correct_select, create_time, select_type, question_comment, question_resolve)
         values
         (#{questionEntity.questionType}, #{questionEntity.questionContent}, #{questionEntity.selects},
         #{questionEntity.correctSelect}, now(), #{questionEntity.selectType}, #{questionEntity.questionComment}, #{questionEntity.questionResolve});
    </insert>
</mapper>